<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="index">
<!--css-->
<link th:fragment="css" type="text/css" rel="stylesheet" th:href="${ossStatic} + @{/css/user/manage/comment.css}"/>
<!--脚本-->
<script async="async" th:fragment="js" type="text/javascript" th:src="${ossStatic} + @{/js/user/manage/comment.js}"></script>
<script th:fragment="js" type="text/javascript" th:src="${ossStatic} + @{/plugins/ckeditor5/ckeditor.js}"></script>
<!--加载代码美化插件-->
<link th:fragment="css" type="text/css" rel="stylesheet" th:href="${ossStatic} + @{/plugins/prismjs/prism-min.css}"/>
<script async="async" th:fragment="js" type="text/javascript" th:src="${ossStatic} + @{/plugins/prismjs/prism-min.js}"></script>
<div th:fragment="content">
    <!--收藏夹-->
    <div class="container">
        <div class="row">
            <!--右列-->
            <div class="col-lg-9 mb-2">
                <div class="card card-body shadow-sm border-0 p-2 mb-2">
                    <div class="lead border-bottom mb-2">评论管理</div>
                    <div>
                        <div class="table-responsive fixed-table-body">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <td class="fw-bold" style="width: 8%;text-align: center">序号</td>
                                    <td class="fw-bold" style="width: 16%;text-align: center">被评论对象</td>
                                    <td class="fw-bold" style="width: 34%;text-align: center">评论内容</td>
                                    <td class="fw-bold" style="width: 6%;text-align: center">来源</td>
                                    <td class="fw-bold" style="width: 6%;text-align: center">状态</td>
                                    <td class="fw-bold hidden-xs" style="width: 20%;text-align: center">创建时间</td>
                                    <td class="fw-bold" style="width: 10%;text-align: center">操作</td>
                                </tr>
                            	</thead>
                            	<tbody>
                                    <tr th:if="!${#lists.isEmpty(memberIndexDto.listCommentDto.commentList)}"
                                    th:each="comment,ite : ${memberIndexDto.listCommentDto.commentList}"
                                >
                                    <td th:text="${ite.count}" style="text-align: center"></td>
                                    <td>
                                        <a class="cv-link" th:text="${comment?.content?.title}"
                                           th:href="@{'/u/'+${comment?.content?.contentId}}"></a>
                                        <a class="cv-link" th:text="${comment?.member?.userName}"
                                           th:href="@{'/profile-message/'+${comment?.member?.userId}}"></a>
                                    </td>
                                    <td style="word-break: break-all" class="ck ck-content ck-rounded-corners" th:utext="${comment.commentContent}">评论内容</td>
                                    <td style="text-align: center">
                                        <span class="badge rounded-pill fw-normal lh-sm fw-normal lh-sm bg-warning text-dark" th:if="${comment.commentSource} == 1">技术</span>
                                        <span class="badge rounded-pill fw-normal lh-sm fw-normal lh-sm bg-warning text-dark" th:if="${comment.commentSource} == 2">问答</span>
                                        <span class="badge rounded-pill fw-normal lh-sm bg-warning text-dark" th:if="${comment.commentSource} == 3">分享</span>
                                        <span class="badge rounded-pill fw-normal lh-sm bg-warning text-dark" th:if="${comment.commentSource} == 4">职场</span>
                                        <span class="badge rounded-pill fw-normal lh-sm bg-warning text-dark" th:if="${comment.commentSource} == 5">记录</span>
                                        <span class="badge rounded-pill fw-normal lh-sm bg-warning text-dark" th:if="${comment.commentSource} == 6">短内容</span>
                                        <span class="badge rounded-pill fw-normal lh-sm bg-warning text-dark" th:if="${comment.commentSource} == 7">留言</span>
                                    </td>
                                    <td style="text-align: center">
                                        <span class="badge rounded-pill fw-normal lh-sm bg-success" th:if="${comment.status} == 0">正常</span>
                                        <span class="badge rounded-pill fw-normal lh-sm bg-warning text-dark" th:if="${comment.status} == 1">删除</span>
                                        <span class="badge rounded-pill fw-normal lh-sm bg-warning text-dark" th:if="${comment.status} == 2">仅自己可见</span>
                                    </td>
                                    <td class="hidden-xs" style="text-align: center" th:text="${comment.createDate}">创建时间</td>
                                    <td style="text-align: center">
                                        <div class="btn-group" role="group" aria-label="Second group">
                                            <button id="operation-message" type="button" class="btn btn-outline-dark btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                状态
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right border-0 shadow-lg" aria-labelledby="operation-message">
                                                <a class="cv-link dropdown-item small" th:onclick="changeCommentStatus('normal',[[${comment.commentId}]])"><span th:include="fragments/icon::zhengchang"></span>正常</a>
                                                <a class="cv-link dropdown-item small" th:onclick="changeCommentStatus('delete',[[${comment.commentId}]])"><span th:include="fragments/icon::shanchu"></span>删除</a>
                                                <a class="cv-link dropdown-item small" th:onclick="changeCommentStatus('only-self-see',[[${comment.commentId}]])"><span th:include="fragments/icon::yincang"></span>仅自己可见</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            	</tbody>
                            </table>
                        </div>
                    </div>
                    <div th:if="${#lists.isEmpty(memberIndexDto.listCommentDto.commentList)}">
                        <div th:include="fragments/index::empty_content"></div>
                    </div>
                    <div>
                        <div class="mt-2 float-end"
                         th:if="!${#strings.isEmpty(memberIndexDto.listCommentDto.paginationHtml)}"
                         th:utext="${memberIndexDto.listCommentDto.paginationHtml}"> </div>
                    </div>
                </div>
            </div>
            <!--左列-用户信息-->
            <div class="col-lg-3">
                <div th:include="fragments/index::user_index_left"></div>
            </div>
        </div>
    </div>
</div>
</html>
