<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upupor.service.dao.mapper.FileMapper">
  <resultMap id="BaseResultMap" type="com.upupor.service.dao.entity.File">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="file_md5" jdbcType="VARCHAR" property="fileMd5" />
    <result column="file_url" jdbcType="VARCHAR" property="fileUrl" />
    <result column="upload_status" jdbcType="INTEGER" property="uploadStatus" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="sys_update_time" jdbcType="TIMESTAMP" property="sysUpdateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, file_md5,user_id, file_url,upload_status, create_time, sys_update_time
  </sql>
  <select id="selectByMd5" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from file
    where file_md5 = #{md5,jdbcType=VARCHAR} limit 1
  </select>
<select id="historyVia" parameterType="java.lang.String" resultType="java.lang.String">
    select
      file_url
    from file
    where user_id = #{userId,jdbcType=VARCHAR} and file_url like '%profile%'
  </select>

  <select id="selectByFileUrl" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from file
    where file_url = #{fileUrl,jdbcType=VARCHAR} limit 1
  </select>

</mapper>
