<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upupor.service.dao.mapper.SeoMapper">
  <resultMap id="BaseResultMap" type="com.upupor.service.dao.entity.Seo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="seo_id" jdbcType="VARCHAR" property="seoId" />
    <result column="seo_status" jdbcType="INTEGER" property="seoStatus" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="sys_update_time" jdbcType="TIMESTAMP" property="sysUpdateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.upupor.service.dao.entity.Seo">
    <result column="seo_content" jdbcType="LONGVARCHAR" property="seoContent" />
  </resultMap>
  <sql id="Base_Column_List">
    id, seo_id, seo_status, create_time, sys_update_time
  </sql>
  <sql id="Blob_Column_List">
    seo_content
  </sql>


</mapper>