<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upupor.service.dao.mapper.TagMapper">
  <resultMap id="BaseResultMap" type="com.upupor.service.dao.entity.Tag">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="tag_id" jdbcType="VARCHAR" property="tagId" />
    <result column="tag_type" jdbcType="INTEGER" property="tagType" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="tag_name" jdbcType="VARCHAR" property="tagName" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="sys_update_time" jdbcType="TIMESTAMP" property="sysUpdateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, tag_id, tag_type, tag_name, create_time, sys_update_time,status,icon
  </sql>
  <select id="getAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tag
    where status = 0
  </select>
  <select id="listByTagIdList" parameterType="java.util.List" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tag
    where status = 0 and tag_id in
    <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
      #{item}
    </foreach>
  </select>
  <select id="listByTagType" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tag
    where status = 0
    /*如果 tagType > 0 为false,说明是 小于等于 0,即全部标签*/
    <if test="tagType != null and tagType > 0 ">
      and tag_type = #{tagType,jdbcType=INTEGER}
    </if>
  </select>
  <select id="listByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tag
    where status = 0
    <if test="tagName != null">
      and tag_name = #{tagName,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>