<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ MIT License
  ~
  ~ Copyright (c) 2021-2022 yangrunkang
  ~
  ~ Author: yangrunkang
  ~ Email: yangrunkang53@gmail.com
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in all
  ~ copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  ~ SOFTWARE.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upupor.data.dao.mapper.TagMapper">
  <resultMap id="BaseResultMap" type="com.upupor.data.dao.entity.Tag">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="tag_id" jdbcType="VARCHAR" property="tagId" />
    <result column="tag_type" jdbcType="INTEGER" property="tagType" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="tag_name" jdbcType="VARCHAR" property="tagName" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="sys_update_time" jdbcType="TIMESTAMP" property="sysUpdateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, tag_id, tag_type, tag_name, create_time, sys_update_time,status,icon
  </sql>
  <select id="getAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tag
    where status = 0
  </select>
  <select id="listByTagIdList" parameterType="java.util.List" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tag
    where status = 0 and tag_id in
    <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
      #{item}
    </foreach>
  </select>
  <select id="listByTagType" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tag
    where status = 0
    /*如果 tagType > 0 为false,说明是 小于等于 0,即全部标签*/
    <if test="tagType != null and tagType > 0 ">
      and tag_type = #{tagType,jdbcType=INTEGER}
    </if>
  </select>
  <select id="listByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tag
    where status = 0
    <if test="tagName != null">
      and tag_name = #{tagName,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="listAll" resultType="com.upupor.data.dto.page.common.CountTagDto">
    select tag_ids tagId,count(*) count from content where tag_ids != '' and status = 0 GROUP BY tagId having count > 0
  </select>

  <select id="listCountByTagIds" resultType="com.upupor.data.dto.page.common.CountTagDto">
    select tag_ids tagId,count(*) count from content where tag_ids in
    <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
      #{item}
    </foreach>
    and status = 0 GROUP BY tagId
  </select>
</mapper>