<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="index">
<!--css-->
<link th:fragment="css" type="text/css" rel="stylesheet" th:href="${ossStatic} + @{/css/user/forget-password.css}" />
<!--脚本-->
<script async="async" th:fragment="js" type="text/javascript" th:src="${ossStatic} + @{/js/user/forget-password.js}"></script>
<!--内容-->
<div th:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mb-2">
                <div class="card card-body shadow-sm border-0 p-2">
                    <h2 style="text-align: center" class="fw-lighter">重置密码</h2>
                    <form class="form-horizontal" style="align-items: center">
                        <div class="form-group mb-3">
                            <div class="row">
                                <div class="col-lg-3">
                                    <label for="email" class="control-label"></label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="email" class="form-control " id="email" placeholder="邮箱" />
                                </div>
                                <div class="col-lg-3"></div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="row">
                                <div class="col-lg-3">
                                    <label for="password" class="control-label"></label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="password" class="form-control " id="password" placeholder="新密码" />
                                </div>
                                <div class="col-lg-3"></div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="row">
                                <div class="col-lg-3">
                                    <label for="verifyCode" class="control-label"></label>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control " id="verifyCode" placeholder="输入验证码" />
                                        <button id="send-verify-code-btn" class="btn btn-primary" type="button" onclick="sendVerifyCode()">发送验证码</button>
                                    </div>
                                </div>
                                <div class="col-lg-3"></div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-lg-6">
                                    <button type="submit" class="btn btn-primary">重置</button>
                                    <button type="button" class="btn btn-secondary">取消</button>
                                </div>
                                <div class="col-lg-3"></div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body shadow-sm border-0 p-2">
                    <div class="lead border-bottom mb-2">找回密码</div>
                    <a href="/register" class="cv-link" title="无账号? 去注册">1. 无账号? 去注册</a>
                    <a href="/forget-password" class="cv-link" title="忘记密码">2. 忘记密码</a>
                </div>
                <div th:include="fragments/index::can_not_receive_email"></div>
            </div>
        </div>
    </div>
</div>
</html>
