<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="index">
<!--css-->
<link th:fragment="css" type="text/css" rel="stylesheet" th:href="${ossStatic} + @{/css/user/list.css}" />
<!--脚本-->
<script async="async" th:fragment="js" type="text/javascript" th:src="${ossStatic} + @{/js/user/list.js}"></script>
<div th:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mb-2">
                <div class="card card-body shadow-sm border-0 p-2">
                    <div class="lead border-bottom mb-2">所有用户</div>
                    <ul class="list-group list-group-flush" th:if="!${#lists.isEmpty(memberListDto.listMemberDto.memberList)}">
                        <li class="list-group-item  p-2" th:each="member,ite : ${memberListDto.listMemberDto.memberList}">
                            <div class="d-flex align-items-center my-1 ">
                                <img class="lazyload me-3 img rounded cv-icon-60 me-2"
                                     th:if="!${#strings.isEmpty(member.via)}"
                                     th:data-src="${member.via}"
                                     th:alt="${member.userName}"
                                />
                                <div class="flex-grow-1">
                                    <h5 class="mt-0 mb-1">
                                        <a th:href="@{'/profile/'+${member.userId}}" class="cv-link"
                                           th:title="${member.userName} + ' ' + ${#strings.isEmpty(member?.memberExtend?.introduce)?'':member?.memberExtend?.introduce}">
                                            <span th:text="${member.userName}">标题</span>
                                        </a>
                                    </h5>
                                    <div class="mb-0 text-black-50" th:text="${#strings.isEmpty(member?.memberExtend?.introduce)?member?.userName:member?.memberExtend?.introduce}">内容简介</div>
                                </div>
                                <span class="mb-0 text-black-50 small" th:if="!${#strings.isEmpty(member?.lastLoginDate)}" th:text="${member?.lastLoginDate}+' 活跃'">最近活跃时间</span>&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-warning" th:href="'/profile-message/' + ${member.userId}" th:inline="text">
                                    <img data-src="https://upupor-img.oss-cn-hangzhou.aliyuncs.com/icons/system/goutong.png" class="lazyload cv-icon-item" alt="留言"/>  留言
                                </a>
                            </div>
                        </li>
                    </ul>
                    <div th:if="${#lists.isEmpty(memberListDto.listMemberDto.memberList)}">
                        <div th:include="fragments/index::empty_content"></div>
                    </div>
                    <div>
                        <div class="mt-2 float-end"
                         th:if="!${#strings.isEmpty(memberListDto.listMemberDto.paginationHtml)}"
                         th:utext="${memberListDto.listMemberDto.paginationHtml}"> </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body shadow-sm border-0 p-2">
                    <div class="lead border-bottom mb-2 text-black-50">感谢</div>
                    <ul class="list-inline">
                        <li>1. 感谢您浏览并使用本网站</li>
                        <li>2. 我们是一个初创的团队,希望可以做出一点事情,既能证明自己的价值,也能对这个社会、对这个世界做出一点贡献</li>
                        <li>3. 我们期望可以汇集一批有创造力、有想法、对生活充满积极心态的人,大家可以积极交流分享,让生活更加美好</li>
                    </ul>
                </div>
                <div class="mt-2" th:include="fragments/index::google_right_ad"></div>
            </div>
        </div>
    </div>
</div>
</html>
