<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="index">
<!--css-->
<link th:fragment="css" type="text/css" rel="stylesheet" th:href="${ossStatic} + @{/css/user/register.css}" />
<!--脚本-->
<script async="async" th:fragment="js" type="text/javascript" th:src="${ossStatic} + @{/js/user/register.js}"></script>
<!--内容-->
<div th:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mb-2">
                <div class="card card-body shadow-sm border-0 p-2">
                    <div th:if="${result}" class="text-success lead text-lg-center">退订邮件成功</div>
                    <div th:if="${!result}" class="text-danger lead text-lg-center">退订邮件失败</div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body shadow-sm border-0 p-2">
                    <div class="lead border-bottom mb-2">退订邮件</div>
                    <a class="cv-link cv-font cv-down" href="/" title="首页">
                        <img class="lazyload" style="width:21px;height: 21px;margin-top: -6px" th:data-src="${ossStatic} + @{/icons/write/home.png}" /> 回到首页
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
