<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="index">
<!--css-->
<link th:fragment="css" type="text/css" rel="stylesheet" th:href="${ossStatic} + @{/css/radio-station/create.css}"/>
<!--脚本-->
<script async="async" th:fragment="js" type="text/javascript" th:src="${ossStatic} + @{/js/radio-station/create.js}"></script>
<!--加载编辑器脚本-->
<script th:fragment="js" type="text/javascript" th:src="${ossStatic} + @{/plugins/ckeditor5/ckeditor.js}"></script>
<div th:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mb-2">
                <div class="card card-body shadow-sm border-0 p-2 mb-2" >
                    <div th:if="!${session?.cv_user_id}"  th:include="fragments/index::un_login_radio"></div>
                    <div th:if="${session?.cv_user_id}">
                        <div class="process-div" style="display: none">
                            <div class="text-black-50 progress-div-tips small">上传中,请稍等</div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"><span class="progress-text"></span></div>
                            </div>
                        </div>

                        <form>
                            <div class="form-group mb-3">
                                <label class="text-black-50">上传电台音频文件</label>
                                <div class="input-group mb-3">
                                    <input type="file" class="form-control custom-file-input" accept=".mp3" id="radio-file" aria-describedby="radio-file">
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <label for="radio-intro" class="text-black-50">音频内容简介</label>
                                <textarea type="text" rows="2" class="form-control " id="radio-intro" placeholder="简介"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary public-radio">发布音频</button>
                            <div>
                                <small id="passwordHelpBlock" class="form-text text-muted mt-1">
                                    <span>·&nbsp;当前仅支持mp3格式的电台音频发布</span><br />
                                    <span>·&nbsp;上传耗时取决于网络环境,如果文件较大,请耐心等待</span>
                                </small>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body shadow-sm border-0 p-2">
                    <div class="lead">创建电台</div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
