<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="index">
<!--css-->
<link th:fragment="css" type="text/css" rel="stylesheet" th:href="${ossStatic} + @{/css/foot/foot-item.css}" />
<!--脚本-->
<script async="async" th:fragment="js" type="text/javascript" th:src="${ossStatic} + @{/js/foot/business-cooperation.js}"></script>
<!--内容-->
<div th:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mb-2">
                <div class="card card-body shadow-sm border-0 p-2">
                    <img th:data-src="${ossStatic} + @{/pages/business-co.png}" class="lazyload" style="height: 100%;width: 100%" alt="商务合作" />
                    <div>
                        <h2>广告服务</h2>
                        <p>本站广告栏位置众多,可按需接入,同页面不同位置,不同页面不同位置等可以灵活接入</p>
                        <br/>
                        <h4>站点全局广告栏</h4>
                        <p>网页最顶部Banner栏位</p>
                        <p>网页最底部Banner栏位</p>
                        <br/>
                        <h4>页面广告栏</h4>
                        <p>可以根据不同页面不同分类来做定向广告推广,针对目标用户,提高广告转化率</p>
                        <div class="alert alert-success">
                            <a class="cv-link" href="/apply-ad" title="开始申请广告"> 开始申请广告</a><br/>
                        </div>
                    </div>
                    <div>
                        <h2>咨询服务</h2>
                        <p>提供咨询服务,包括但不仅限于以下:</p>
                        <ol>
                            <li>后端技术</li>
                            <li>部署技术</li>
                            <li>规范制定</li>
                            <li>流程管理</li>
                            <li>团队管理</li>
                        </ol>
                        <p>我们希望有能力的人能够为需要的人或者团队服务,故在此可以登记咨询信息,待审核通过后,会公布于此</p>
                        <div class="alert alert-success">
                            <a class="cv-link" href="/apply-consultant" title="咨询服务申请"> 咨询服务申请</a>
                        </div>
                    </div>
                    <div>
                        <h2>课程推广</h2>
                        <p>提供课程引流位置,进行课程推广</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body shadow-sm border-0 p-2">
                    <div class="nav flex-column nav-pills" aria-orientation="vertical">
                        <div th:replace="fragments/index::foot_left('business-cooperation')"></div>
                    </div>
                </div>
                <div class="mt-2" th:include="fragments/index::google_right_ad"></div>
            </div>
        </div>
    </div>
</div>
</html>
