<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="index">
<!--css-->
<link th:fragment="css" type="text/css" rel="stylesheet" th:href="${ossStatic} + @{/css/foot/foot-item.css}" />
<!--脚本-->
<script async="async" th:fragment="js" type="text/javascript" th:src="${ossStatic} + @{/js/foot/foot-item.js}"></script>
<!--内容-->
<div th:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mb-2">
                <div class="card card-body shadow-sm border-0 p-2">
                    <div>
                        <div class="lead border-bottom mb-2">愿景 / Vision</div>
                        <p>让每个人享受分享</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body shadow-sm border-0 p-2">
                    <div class="nav flex-column nav-pills" aria-orientation="vertical">
                        <div th:replace="fragments/index::foot_left('vision')"></div>
                    </div>
                </div>
                <div class="mt-2" th:include="fragments/index::google_right_ad"></div>
            </div>
        </div>
    </div>
</div>
</html>
