<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ MIT License
  ~
  ~ Copyright (c) 2021-2022 yangrunkang
  ~
  ~ Author: yangrunkang
  ~ Email: yangrunkang53@gmail.com
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in all
  ~ copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  ~ SOFTWARE.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upupor.service.business.aggregation.dao.mapper.MemberExtendMapper">
  <resultMap id="BaseResultMap" type="com.upupor.service.business.aggregation.dao.entity.MemberExtend">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="birthday" jdbcType="VARCHAR" property="birthday" />
    <result column="bg_img" jdbcType="VARCHAR" property="bgImg" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="emergency_code" jdbcType="VARCHAR" property="emergencyCode" />
    <result column="sys_update_time" jdbcType="TIMESTAMP" property="sysUpdateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.upupor.service.business.aggregation.dao.entity.MemberExtend">
    <result column="introduce" jdbcType="LONGVARCHAR" property="introduce" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, birthday, age, emergency_code, sys_update_time,bg_img
  </sql>
  <sql id="Blob_Column_List">
    introduce
  </sql>


  <select id="listByUserIdList" parameterType="java.util.List" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from member_extend where user_id in
    <foreach close=")" collection="userIdList" index="index" item="item" open="(" separator=",">
      #{item}
    </foreach>
  </select>


  <select id="countByEmergencyCode" parameterType="java.lang.String" resultType="java.lang.Integer">
    select
    count(*)
    from member_extend
    where emergency_code = #{emergencyCode,jdbcType=VARCHAR}
  </select>

</mapper>